/*.navbar-undermerabi {
  background-color: #fff;
  cursor: pointer;
  font-size: 1.9em;
  color: #000;
  padding-left: 0px;
  padding-top: 21px;
  min-height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}*/