<div id="home">
  <div id="carousel" class="carousel slide">

   
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel" data-slide-to="0"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
   
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/slider/slide1.jpg" alt="">
         <div class="mbr-overlay"></div>
        <div class="carousel-caption">
          <h1 class="visible-lg visible-md hidden-sm hidden-xs" style=" color: white;">Prevention is key to longevity<br>get your health checkup done</h1>

        </div>
      </div>
      <div class="item">
        <img src="images/slider/slide3.jpg" alt="">
         <div class="mbr-overlay"></div>
        <div class="carousel-caption">
          <h1 class="visible-lg visible-md hidden-sm hidden-xs"  style=" color: white;">Diabetes is on the rise <br>Get tested demand treatment</h1>

        </div>
      </div>
      <div class="item">
        <img src="images/slider/slide2.jpg" alt="">
         <div class="mbr-overlay"></div>
        <div class="carousel-caption">
          <h1 class="visible-lg visible-md hidden-sm hidden-xs"  style=" color: white;">Protect your heart <br>Get your checkup!</h1>

        </div>
      </div>
    </div>

    <a href="#carousel" class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>

    </a>



    <!--</a>-->

  </div>
</div>