<div id="home">
  <div id="carousel" class="carousel slide">

   
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel" data-slide-to="0"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
   
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/slide1.jpg" alt="">
        <div class="carousel-caption">
          <h1 class="visible-lg visible-md hidden-sm hidden-xs">A Team OF Medical<br>Professionals</h1>

        </div>
      </div>
      <div class="item">
        <img src="images/slide2.jpg" alt="">
        <div class="carousel-caption">
          <h1 class="visible-lg visible-md hidden-sm hidden-xs">TO TAKE CARE OF YOUR <br>HEALTH</h1>

        </div>
      </div>
      <div class="item">
        <img src="images/slide3.jpg" alt="">
        <div class="carousel-caption">
          <h1 class="visible-lg visible-md hidden-sm hidden-xs">A Modern Hospital With Latest <br>Equipments</h1>

        </div>
      </div>
    </div>

    <a href="#carousel" class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>

    </a>



    <!--</a>-->

  </div>
</div>